Cliquez sur une lettre :

{{#each lettreVIP}}
    <a href="/repertoire/{{this.lettre}}"> {{this.lettre}} </a>
{{/each}}


<div id="detailLettreIMG">
    {{#each detailsLettre}}


        <img src="/images/vip/{{this.photo}}">

    {{/each}}
</div>
<br/>

<div id="detailLettreNOM">
    {{#each detailsLettre}}

        <a href="/repertoire/vip/{{this.numero}}">{{this.prenom}} {{this.nom}}</a>

    {{/each}}

</div>
<br/>

{{#each detailsVIPPrincipale}}

    <div id="detailVipIMG">

        <img src="/images/vip/{{this.photo}}">

    </div>

    <div id="detailVip">
        Nom : {{this.prenom}} {{this.nom}}
        <br/>
        <br/>

        Naissance : {{formatDate this.naissance 'dddd D MMMM YYYY'}}
        <br/>
        <br/>

        Nationalite : {{this.nationalite}}
        <br/>
        <br/>

    </div>
{{/each}}


{{#if estActeur}}
    {{#ifCond this.sexe "==" 'M'}}
        <div id="acteurP">
            Profession : Acteur
        </div>
    {{else}}
        <div id="acteurP">
            Profession : Actrice
        </div>
    {{/ifCond}}
    <div id="acteurFilm">
        Principaux films : #TODO
    </div>
    <br/>

{{/if}}



{{#if estMannequin}}
    <div id="mannequinP">
        Profession : Mannequin
    </div>
    <div id="mannequinDefile">
        Principaux Defile : #TODO
    </div>
    <br/>


{{/if}}



<div id="mariageVIP">

    {{#each detailsMariage}}

        {{#if this.finMariage}}

            <div id="mariageVIP2">
                Mariage : <a class="tooltip" href="/repertoire/vip/{{this.numero}}">{{this.prenom}} {{this.nom}}
                <span><img
                        src="/images/vip/{{this.photo}}"> <h3>{{this.prenom}} {{this.nom}}</h3>{{this.description}}</span></a>
                ({{formatDate
                    this.dateMariage 'dddd D MMMM YYYY'}} --> {{formatDate this.finMariage 'dddd D MMMM YYYY'}}) Lieu
                : {{this.lieu}}
            </div>
        {{else}}
            Mariage : <a class="tooltip" href="/repertoire/vip/{{this.numero}}">{{this.prenom}} {{this.nom}}<span><img
                src="/images/vip/{{this.photo}}"> <h3>{{this.prenom}} {{this.nom}}</h3>{{this.description}}</span></a>
            ({{formatDate
                this.dateMariage 'dddd D MMMM YYYY'}} --> Aujourd'hui) Lieu : {{this.lieu}}
        {{/if}}
    {{/each}}

</div>

<br/>

<div id="liaisonVIP">
    {{#each detailsVIPLiaison}}
        Liaison : <a class="tooltip" href="/repertoire/vip/{{this.numero}}">{{this.prenom}} {{this.nom}}<span><img
            src="/images/vip/{{this.photo}}"> <h3>{{this.prenom}} {{this.nom}}</h3>{{this.description}}</span></a>
        ({{formatDate
            this.dateLiaison 'dddd D MMMM YYYY'}}) Raison de fin de liaison : {{this.motifFin}}
    {{/each}}
</div>

<br/>

<div id="quiSuisVIP">

    {{#each detailsQuiSuisJe}}
        Qui suis-je ? : {{this.qui}}

    {{/each}}

</div>
<br/>

<div id="photosVIP">
    {{#each detailsVIPPhotos}}
        <a href="/images/vip/{{this.photo}}" data-lightbox="VIP"><img src="/images/vip/{{this.photo}}"></a>
    {{/each}}
</div>
